header {
    margin-bottom: 20px;
}

#logo-img {
    position: absolute;
    height: 70px;
    top: 0;
    left: 0;
}

.navbar-brand {
    width: 80px;
}
.loader{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: white;
    opacity: 0.6;
}
.loader_img{
    position: fixed;
    top: 48%;
    right: 48%;
    width: 90px;
    height: 90px;
    background: url(../img/loader.gif) center no-repeat;
}