{% extends "layouts/main/main.twig" %}

{% block title %} Update task {{ task.getId() }} {% endblock %}

{% block content %}

    <h2>Update task</h2>

    {% include "tasks/_form.twig" %}

{% endblock %}


